<% if share.currencyid.upcase == "EUR" %>
  <span class="currency-eur"><%= "#{share.currencyid}" %></span>
<% elsif share.currencyid.upcase == "USD" %>
  <span class="currency-usd"><%= "#{share.currencyid}" %></span>
<% else %>
  <span class="currency"><%= "#{share.currencyid}" %></span>
<% end %>
