<div class="share-list-item-status">
  <% if share.isbasecurrency then %>
    <p class="status accepted">Base currency</p>
  <% else %>
    <p class="status declined">Other currency</p>
  <% end %>
  <p class="price"><%= share.isbasecurrency %></p>
</div>
