<!-- Afficher les résultats dans un form -->
<div class="share-list-item" >
  <div><input id= "placeholder-search-ms" class="form-control" placeholder= "isin, secid ou nom" type="text"></div>
  <div id= "LookInMs" class= "btn-display home-button">Cliquez ici pour rechercher dans la base Morningstar</div>
  <div id= "NewLookInMs" class= "btn-display home-button hidden">Nouvelle recherche</div>
  <div id= "CancelLookInMs" class= "btn-create normal-font-button">Annuler</div>
</div>

<ul id="results"></ul>
