<!-- Afficher les résultats dans un form -->
<div class="share-list-item" >
  <div><input id= "placeholder-search-ms" class="form-control" placeholder= "isin, secid ou nom" type="text"></div>
  <div><input id="LookInMs" type="submit" class="btn-display home-button" value="Cliquez ici pour rechercher dans la base Morningstar"></div>
  <div id="NewLookInMs" class="hidden"><input type="submit" class="btn-create normal-font-button" value="Nouvelle recherche"></div>
  <div><input id="CancelLookInMs" type="submit" class="btn-create normal-font-button" value="Fermer"></div>
</div>

<%= simple_form_for(Share.new) do |form| %>
  <%= form.hidden_field :isin, as: :text, :value => "FR123514511" %>
  <%= form.hidden_field :performanceid, as: :text, :value => "FOopjdazjd" %>
  <%= form.button :submit, "Ajouter les parts en base de données", class: "btn btn-primary" %>
<% end %>

<ul id="results">
</ul>
