<% if !precovalue.nil? && !precovalue.zero?  %>
  <% if (1..5).include?(precovalue) %>

    <% if precovalue == 1 %>
      <div class="share-item rounded preco-tile vendre">
        <div class="mfc-preco">
          <i class="fas fa-hand-point-down"></i>
          <p>Vendre</p>
        </div>
      </div>
    <% elsif precovalue == 2 %>
      <div class="share-item rounded preco-tile alleger">
        <div class="mfc-preco">
          <i class="fas fa-bullhorn"></i>
          <p>Alléger</p>
        </div>
      </div>
    <% elsif precovalue == 3 %>
      <div class="share-item rounded preco-tile neutre">
        <div class="mfc-preco">
          <i class="far fa-meh"></i>
          <p>Neutre</p>
        </div>
      </div>
    <% elsif precovalue == 4 %>
      <div class="share-item rounded preco-tile conserver">
        <div class="mfc-preco">
          <i class="fas fa-cart-plus"></i>
          <p>Conserver</p>
        </div>
      </div>
    <% elsif precovalue == 5 %>
      <div class="share-item rounded preco-tile acheter">
        <div class="mfc-preco">
          <i class="fas fa-hand-point-up"></i>
          <p>Acheter</p>
        </div>
      </div>
    <% else %>
      <div class="share-item rounded preco-tile nr">
        <div class="mfc-preco">
          <i class="fas fa-circle-notch"></i>
          <p>Non renseigné</p>
        </div>
      </div>
    <% end %>

  <% end %>
<% else %>
  <div class="share-item rounded preco-tile nr">
    <div class="mfc-preco">
      <i class="fas fa-circle-notch"></i>
      <p>Non renseigné</p>
    </div>
  </div>
<% end %>
