<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div id="Sharelist1">
        <%= render 'empty_result' unless !@shares.empty? %>
        <%= "Code isin cherché : #{@isin_search}" %>
        <%= render 'list_shares' %>
      </div>
    </div>
  </div>
</div>
