<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div id="Sharelist1">
        <%= render 'empty_result' unless !@shares.empty? %>
        <%= "Code isin cherché : #{@isin_search}" %>
        <%= render 'list_shares' %>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div id="Sharelist1">
        <#% @shares.each do |share| %>
          <h4><#%="isin : #{share.isin}" %></h4>
          <h4><#%="Base currency : #{share.isbasecurrency}" %></h4>
          <h5><#%= "Currency : #{share.currencyid}" %></h5>
          <h5><#%= "Currency specific isin : #{share.currencyspecificisin}" %></h5>
          <p><#%= "Nom du fonds : #{share.fundname}" %></p>
          <p><#%= "Nom de la part : #{share.securityname}" %></p>
        <#% end %>
      </div>
    </div>
  </div> -->
