<div class="container">

  <div class="row">

    <h4><%= @share_catalog_list.count %> Fund reviews for all companies</h4>

    <div class="row">
      <div class="col-sm-12">
        <% @share_catalog.each do |share_catalog|%>

          <div class="col-sm-8">
            <p><%= "#{share_catalog.id} | #{share_catalog.share.securityname}" %></p>
          </div>

          <div class="col-sm-4">
            <% if !share_catalog.share.reviews.last.nil? %>
              <%= "last updated at : #{share_catalog.share.reviews.last.created_at.strftime('%m/%d/%Y')}" %>

            <% else %>
              <%= "no review" %>
            <% end %>
          </div>

        <% end %>
      </div>
    </div>
  </div>

<!--   <div class="row">
    <#% @companies.each do |company| %>
      <p><#%= company.name %></p>
    <#% end %>
  </div> -->

</div>
