<h1>home</h1>
<div class="container">
  <h2>Search for a fund</h2>
  <div class="row">
    <%= form_tag shares_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a fund by isin"
      %>
    <% end %>
  </div>
</div>
