<div class="container">
  <h2>Companies list : </h2>
    <div class="row">

      <div class="col-sm-8">
      </div>
      <div class="col-sm-4">
        <%= link_to "Create new company", new_company_path, class: "btn-create normal-font-button"%>
      </div>
    </div>

    <div class="row simple-list-row rounded">
      <% @companies.each do |company|%>

        <div class="simple-list">
          <div class="simple-list-date">
            <h6><%= "id: #{company.id}" %></h6>
          </div>
          <div class="simple-list-security">
            <p><strong>
              <%= "#{company.name}" %>
            </strong></p>
          </div>
          <div class="simple-list-buttons">
            <%= link_to "Display share list", company_share_catalogs_path(company), class: "btn-display"%>
          </div>
          <div class="simple-list-buttons">
          <!--   <#% if @user.admin %>
              <#%= f.submit "Remove", class: "btn-remove" %>
            <#% end %> -->
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
