<div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h1>Companies list : </h1>
      </div>
      <div class="col-sm-4">
        <h1><%= link_to "Create new company", new_company_path, class: "btn  btn-success"%></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <ul>
          <% @companies.each do |company|%>
            <li>
              <p><%= "id: #{company.id} | Nom : #{company.name}" %></p>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
</div>
