.share-item {
  padding:15px;
  background-color: #FFFAFF;
  margin-bottom: 15px;
  p {
    color: rgba(67,69,55,0.8);
  }
}

.share-item .text-title::before {
  background-color: #36C9C6;
  border-radius: 0.25rem;
  content: '';
  display: block;
  height: 0.2rem;
  width: 100%;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.share-item-shadow {
  box-shadow: 0 3px 20px rgba(0, 0, 0, .1);
}

.mfc-preco {
  display:flex;
  justify-content:space-around;
  align-items:center;
}

.preco-tile {
  margin: auto auto 15px auto;
  p {
    font-family: 'Open Sans', sans-serif;
    font-weight:700;
    font-size: 3rem;
    text-align: center;
    color:white;

    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  }
  i {
    font-size: 6rem;
    color:white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  }
}

.acheter {
  background-color:#04A366;
}

.conserver {
  background-color:#0CA4A5;
}

.neutre {
  background-color:#677C7F;
}
// D0D6B5
.alleger {
  background-color:#FF8552;
}

.vendre {
  background-color:#FF715B;
}

.nr {
  background-color:#DF9B6D;
  p {
    font-size: 2rem;
  }
}

.image-isr {
  max-width:100%;
  max-height:100%;
}
.header-isr {
  background-color:red;
}
