<h6><%= "Last review #{share.reviews.last.created_at} :" %></h6>
<p>investment_strategy</p>
<p><%= "#{share.reviews.last.investment_strategy}" %></p>
<p>current_strategy</p>
<p><%= "#{share.reviews.last.current_strategy}" %></p>
